{% extends "piano/base.html" %}

	<meta charset="UTF-8">
	<title>piano</title>
	{%load static from staticfiles%}
	{%block source%}

	{%endblock%}
	
{%block js%}
<script type="text/javascript">
	$(document).ready(function () {


		/* 获取pop框内的元素 */

		$('.document_cell').click(function () {


			var album = $(this).find('.m_album').text();
			var this_img = $(this).find('img');
			var link = this_img.attr('src');
			var pop_img = $('.pop_img img');

			pop_img.attr('src',link);

			$('.pop_img img, .img_con img').error(function(){
				$(this).attr('src','/static/piano/images/common.png')
					});

			$.get('/album/'+album,function (dict) {
			    var proto = $('.music_list ul li:eq(0)');

				$.each(dict['list'], function (index, item) {
					var li = proto.clone(true);
					li.attr('display','block');
					li.find('.music_name').text(item.music);
					li.find('.music_num').text(item.page_num);
					li.find('a').attr('href','/musicSheet/'+item.music);
					$('.music_list ul').prepend(li);
                });

				proto.remove();
				var li_num = $('.music_list ul li').length;

				if(li_num >= 5){
				    $('.music_list ul li:gt(4)').hide();
				}
				else {
				    $('.l_more').hide();
				}

				$('.bottom_wrap').hide();
				$('.pop_up').show();
				$('.full_over').show()
            });
        });

		$('.l_more').click(function () {
			$('.music_list ul li').show();
			$(this).hide();
		});

		$(document).click(function(){
			$('.pop_up').hide();
			$('.full_over').hide()
		});

		$('.pop_close').click(function () {
			$('.pop_up').hide();
			$('.full_over').hide()
		});

		$('.pop_main').click(function (event) {
			event.stopPropagation();
		})

    })
</script>

{%endblock%}


{%block style%}

<style type="text/css">

	.full_over{
		display: none;
		position: fixed;
		opacity: 0.5;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(87, 97, 122, 0.75);
		z-index: 901;
	}

	.nav{
		background-color: #FAFBFD;
		position: fixed;
		left: 0;
		top: 0;
		height: 60px;
		width: 100%;
		border-bottom: 2px solid #E9EDF8;
		z-index: 900;
	}
	
	.banner{
		margin-top: 60px;
		height: 260px;
		background-color: #eee;
		background: url(https://imgv2-1-f.scribdassets.com/img/category_theme_header/52/1140x260/6fbdea2a9d/1473445615) no-repeat;
	    width:100%;
		overflow: hidden;
		background-size:cover;
	}

	.banner_title{
		display: inline-block;
		position: relative;
		left: 25%;
		top: 60%;
		padding: 0 12px;
		background: #1C263D;
		color: white;
	}

	.banner_title span{
		font-size: 32px;
		font-weight: bold;
	}



	.main_wrap{
		padding: 0 24px;
		margin-top: 46px;
	}

	.list{
		margin-top: 50px;
	}
	
	.main_title{
		    font-weight: bold;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    margin: 0 0 16px;
	}
	
	.main_title a{
	    font-size: 24px;
		color: #20828D;
		cursor: pointer;
		transition: color 0.2s ease-in-out;
	}


	.carousel {
		overflow: hidden;
	    white-space: nowrap;
	}

	.document_cell{
		width: auto;
	   	margin-right: 16px;
	   	display: inline-block;
	    font-size: 16px;
	    vertical-align: top;
	    white-space: normal;
	}

	.img_con img{
		width: 150px;
		height: auto;
	}

	.under_title{
		width: 150px;
		color: #1C263D;
		margin-top: 10px;
		text-align: left;
	    font-size: 14px;
	    line-height: 1.5em;
	    max-height: 1.5em;
		overflow: hidden;
    	text-overflow: ellipsis;
    	white-space:nowrap;
	}


	
	.bottom_wrap{
		height: 400px;
		background-color: #ccc;
	}

	.view_all{
		height: 90px;
		text-align: center;
		margin-top: 40px;
	}

	.view_all a{
		    color: #20828D;
		    cursor: pointer;
	}

	/* pop*/
	.pop_up{
		position: absolute;
		left: 400px;
		top: 200px;
		z-index: 902;
		display: none;
	}


	.pop_main{
		margin-top: 150px;
		padding: 0;
	}


	.pop_top{
		background-color: white;
		height: 165px;
	    padding: 26px 48px 28px;
	    background: #F8F9FD;
	    border-bottom: 1px solid #E9EDF8;
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	}

	.pop_close{
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		width: 44px;
		height:44px;
		padding: 10px;
		font-size: 30px;
		color:#4c4c4c;
		cursor: pointer;

	}

	.pop_top h2{
	    font-size: 22px;
	    margin-bottom: 3px;
    	font-weight: normal;
	}

	.pop_top a{
		display: inline-block;
	    background-color: transparent;
	    border: 1px solid #20828D;
	    padding: 0 30px;
	    color: #20828D;
	    height: 43px;
	    text-decoration: none;
	    line-height: 43px;
	    font-size: 16px;
	}

	.top_2{
		margin-bottom: 12px;
	}

	.pop_middle1{
		background-color:white;
		height: 365px;
	    padding: 48px;
	    padding-bottom: 60px;
	    border-bottom: 1px solid #E9EDF8;

	}

	.pop_middle1 h1{
		margin: 0;
	    font-size: 26px;
	    line-height: 32px;
	    font-weight: bold;
	    color: #1C263D;
	}

	.pop_img{
		width: 195px;
		height:250px;
	}

	.pop_img img{
		max-width:100%;
	}


	.pop_middle1 .author{
		margin:7px 0;
		font-weight: bold;
	}

	.pop_middle1 .sh_disc{
		padding-top:20px;
		border-top: 1px solid #E9EDF8;
		margin-bottom: 66px;
	}

	.tab_list{
		height: 50px;
		text-align: center;
	    border-bottom: 1px solid #E9EDF8;
    	background-color: #F8F9FD;
	}

	.tab_list a{
			padding: 0 15px;
			line-height: 50px;
			display: inline-block;
    		color: #0D6069;
	}

	.pop_middle2{
		background-color: white;
		padding: 40px 48px 60px;
	}

	.pop_middle2 .music_icon{
		height: 130px;
		text-align: center;
	}

	.pop_middle2 .music_list{
	    border-top: 1px dashed #E9EDF8;
	    padding: 40px 0;
	}

	.music_list .table_span{
		text-align: center;
		margin: 14px 0 18px 0;
	}

	.music_list li{
		padding: 1px 32px;
		cursor: pointer;
	}

	.music_list li span{
		color: #57617A;
		font-size: 16px;
		line-height: 40px;

	}

	.music_list li:hover{
		background-color: rgb(248,249,253);
	}

	.music_list .music_num{
		float: right;
	}

	.l_more{
		display: block;
		padding-left: 32px;
	    color: #20828D;
	    text-decoration: none;
	    cursor: pointer;
	    font-weight: bold;
	    font-size: 14px;

	}

	.disc_title{
		text-align: center;
		margin:18px 0 20px 0;
	}

	.disc_content{
		padding: 0 32px 36px;
	}

	.pop_bottom{
		background-color: white;
		margin-top: 24px;
		margin-top: 25px;
	}

	.pop_bottom .recommend{
		padding: 65px 55px 35px;
	}

	.pop_bottom .rec_title{
		font-size: 18px;
	    font-weight: normal;
	    margin-bottom: 4px;
	}

	.rec_banner{
		height: 305px;
		background-color: #eee;
	}

</style>

{%endblock%}

{%block body%}

	<div class="full_over"></div>

	<div class="banner_title">
		<div class="title">
			<span>Monkey钢琴</span>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="main_wrap col-md-12">
				<div class="list best">
					<div class="main_title">
						<h3><a class="title_link" href="/category/new">最新</a></h3>
					</div>
					<ul class="carousel">
						{% for each in sheet1%}
						<li class="document_cell">
							<a href="" onclick="return false" >
								<div class="img_con"><img class="img-responsive" src = "/static/piano/钢琴/{{each.album}}/{{each.album}}.png" alt=""></div>
								<div>
									<div class="m_album under_title">{{each.album}}</div>
									<div class="under_title">(Piano)</div>
								</div>
							</a>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="list best">
					<div class="main_title">
						<h3><a class="title_link" href="/category/hot">热门</a></h3>
					</div>
					<ul class="carousel">
						{% for each in sheet2%}
						<li class="document_cell">
							<a href="" onclick="return false" >
								<div class="img_con"><img class="img-responsive" src = "/static/piano/钢琴/{{each.album}}/{{each.album}}.png" alt=""></div>
								<div>
									<div class="m_album under_title">{{each.album}}</div>
									<div class="under_title">(Piano)</div>
								</div>
							</a>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="list best">
					<div class="main_title">
						<h3><a class="title_link" href="/category/treasure">精选</a></h3>
					</div>
					<ul class="carousel">
						{% for each in sheet3%}
						<li class="document_cell">
							<a href="" onclick="return false" >
								<div class="img_con"><img class="img-responsive" src = "/static/piano/钢琴/{{each.album}}/{{each.album}}.png" alt=""></div>
								<div>
									<div class="m_album under_title">{{each.album}}</div>
									<div class="under_title">(Piano)</div>
								</div>
							</a>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="list best">
					<div class="main_title">
						<h3><a class="title_link" href="/category/like">猜你喜欢</a></h3>
					</div>
					<ul class="carousel">
						{% for each in sheet4%}
						<li class="document_cell">
							<a href="" onclick="return false" >
								<div class="img_con"><img class="img-responsive" src = "/static/piano/钢琴/{{each.album}}/{{each.album}}.png" alt=""></div>
								<div>
									<div class="m_album under_title">{{each.album}}</div>
									<div class="under_title">(Piano)</div>
								</div>
							</a>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="view_all">
					<a href="/category/all">View All In Piano</a>
				</div>
			</div>
		</div>
	</div>


<div class="container pop_up">
		<div class="row">
			<div class="pop_main col-md-10 col-md-offset-1 ">

					<div class="pop_top">
						<div><h2>Find your next favorite book</h2></div>
						<div class="top_2"><span>Become a member today and read free for 30 days.</span></div>
						<div><a href="">Start your free 30 days</a></div>
						<span class="pop_close">X</span>
					</div>
					<div class="pop_middle1">
						<div class="row">
							<div class="pop_img col-md-3"><img class="img-responsive" src="images/middle1.png" alt=""></div>
							<div class="col-md-8">
								<div><h1>Piano Cheat Sheets: Top Downloads: 100 Popular Hits in Musical Shorthand</h1></div>
								<div class="author"><span>by</span><span></span>Hal Leonard Corporation</div>
								<div class="sh_disc"><span class="rating"></span><span class="song_num"></span></div>

							</div>
						</div>
					</div>
					<div class="tab_list">
						<a href="">about</a>
						<a href="">reviews</a>
					</div>
					<div class="pop_middle2">
						<div class="music_icon">
							<div><span>Difficulty & Instrument</span></div>
							<div class="music_icons">
								<a href=""><span></span><span>Advanced</span></a>
								<a href=""><span></span><span>Piano</span></a>
							</div>
						</div>
						<div class="music_list">
							<div class="table_span"><span>Table of Contents</span></div>
							<ul>
								<li class="clone_li" ><a href=""><span class="music_name">Angel</span><span class="music_num">1</span></a></li>
							</ul>
							<a class="l_more" onclick="return false" href="">Load more</a>
						</div>
						<div class="disc_title"><span>From the Publisher</span></div>
						<div class="disc_content"><p>(Cheat Sheets). The Hal Leonard Cheat Sheets series includes all the "must know" intros and interludes, plus lyrics and chords. All the songs are presented in an easy to read format with minimal page turns. Enjoy learning to play songs more easily than ever with this cut-to-the-chase notation! This piano edition includes: All the Right Moves * Bad Romance * California Gurls * Drops of Jupiter (Tell Me) * Every Teardrop Is a Waterfall * Fireflies * Grenade * Hey, Soul Sister * I Believe I Can Fly * Jar of Hearts * Love Song * Need You Now * 100 Years * Rolling in the Deep *... </p></div>
						<div><span></span></div>
					</div>


					<div class="pop_bottom">
						<div class="recommend">
							<div class="rec_title"><span>Similar To Rent</span></div>
							<div class="rec_banner"></div>
						</div>
					</div>


			</div>
		</div>
	</div>


{%endblock%}
